body {
  background: #141414;
  color: #ffffff;
}

#MyNav {
  display: flex;
  justify-content: flex-end;
  min-height: 10vh;
  flex-direction: column;
  background-color: #460a0a;
  width: 100%;
  overflow: hidden;
}

/* Navigation Buttons */
.nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  width: 88%;
  top: 0;
  position: absolute;
  text-decoration: none;
}
.nav_links li {
  margin-left: 12px;
  padding: 8px 8px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 14px;
  text-decoration: none;
}

.nav_links li:hover {
  background-color: orange;
  color: black;
  transform: translate(-0.5rem);
  transition: 0.5s;
}
.myLinks {
  list-style: none;
  text-decoration: none;
}

/* Title */
.headContainer h1 {
  position: relative;
  bottom: 15px;
  top: 10;
  right: 14px;
  padding: 1rem 1.5rem;
  font-size: xx-large;
  margin: 0;
  margin-bottom: 5%;
  margin-left: 10px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  color: white;
}

/* Search bar */
.headContainer input {
  display: flex;
  position: relative;
  top: -35px;
  left: 0;
  bottom: 0;
  margin-left: 25px;
  width: 10%;
  height: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: black;
  padding: 0.4rem 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  background-color: #460a0a;
  margin: 0.8rem 0.8rem;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.movie img {
  max-width: 100%;
  border: 1px transparent;
  overflow: hidden;
}
.movieInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  padding: 0.5rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  overflow: hidden;
}
.movieInfo h2 {
  margin: 0;
}
.movieRating {
  border-radius: 3px;
  background-color: gold;
  padding: 3px 8px;
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  display: flex;
  position: absolute;
  top: 1%;
  left: 83%;
}
.movie:hover {
  transform: scaleX(1.1);
}

/* Overview */
.movie_overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0.2;
  padding: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background-color: white;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-variant: normal;
  font-size: small;
  background-color: white;
  transition: 1s;
  overflow: hidden;
}

.mainContainer :hover .movie_overview {
  transform: translateY(0%);
}

/* Sign up page */
.SignupInfo {
  display: flex;
  background-image: url("D:\Web design course\movie-app\src\images\dUyCkp.jpg");
  background-position: cover;
  height: 100vh;
}

/* form info */
.myInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 25px;
  width: 42%;
  margin: 5em auto;
  padding: 1em 2em 3.5em 2em;
  top: 1rem;
  right: 3rem;
  position: relative;
}

.myInfo input {
  display: flex;
  width: 40%;
  height: 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  padding: 0.4rem 3rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  overflow: hidden;
}

.Register {
  padding: 12px 10px;
  background-color: rgb(0, 0, 0);
  color: #e50914;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: large;
  font-style: bold;
  text-decoration: none;
  position: relative;
  top: 1rem;
}
.Register:hover {
  background-color: orange;
  color: black;
  transition: 0.5s;
}
label {
  padding: 10px 20px;
  display: inline-block;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: bold;
  color: white;
}

/* Go to login page */
.LoginHere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  top: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: bold;
}

.logLink {
  padding: 12px 10px;
  margin: 5px;
  position: relative;
  top: 5px;
  border-radius: 60px;
  background-color: rgb(0, 0, 0);
  color: #e50914;
  list-style: none;
  text-decoration: none;
}
.logLink:hover {
  background-color: orange;
  color: black;
  transition: 0.5s;
}

/* login page */
.LoginInfo {
  display: flex;
  background-image: url("D:\Web design course\movie-app\src\images\dUyCkp.jpg");
  background-position: cover;
  height: 100vh;
}
/* form info */
.LogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 25px;
  width: 45%;
  margin: 7.5em auto;
  padding: 1em 1.5em 3em 1em;
  top: 2rem;
  right: 2.5rem;
  position: relative;
}
.LogInfo input {
  display: flex;
  width: 30%;
  height: 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: white;
  padding: 0.3rem 3rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
.Log {
  padding: 12px 15px;
  background-color: rgb(0, 0, 0);
  color: #e50914;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: large;
  font-style: bold;
  text-decoration: none;
  position: relative;
  top: 1rem;
}
.Log:hover {
  background-color: orange;
  color: black;
  transition: 0.5s;
}

/* Go to signup page */
.SignHere {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  top: 40px;
  left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: bold;
}

.SignLink {
  padding: 12px 10px;
  margin: 10px;
  position: relative;
  top: 5px;
  border-radius: 60px;
  background-color: rgb(0, 0, 0);
  color: #e50914;
  list-style: none;
  text-decoration: none;
}
.SignLink:hover {
  background-color: orange;
  color: black;
  transition: 0.5s;
}
.HomePage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 50px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
.SignAndLog {
  position: relative;
  top: -0.5rem;
  left: 0.2rem;
  color: #e50914;
  text-decoration: none;
  list-style: none;
}
