body {
  background: #141414;
  color: #ffffff;
}

#MyNav {
  display: flex;
  justify-content: flex-end;
  min-height: 10vh;
  flex-direction: column;
  background-color: #460a0a;
  width: 100%;
  overflow: hidden;
}

/* Navigation Buttons */
.nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
  width: 90%;
  position: absolute;
  text-decoration: none;
}
.nav_links li {
  margin-left: 10px;
  padding: 12px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

.nav_links li:hover {
  background-color: orange;
  color: black;
  transform: translate(-0.5rem);
  transition: 0.5s;
}
.myLinks{
  list-style: none;
  text-decoration: none;

}

/* Title */
.headContainer h1 {
  position: relative;
  bottom: 10px;
  top: 10;
  right: 10px;
  padding: 1rem 2rem;
  font-size: xx-large;
  margin: 0;
  margin-bottom: 5%;
  margin-left: 10px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  color: white;
}

/* Search bar */
.headContainer input {
  display: flex;
  position: relative;
  top: -39px;
  left: 0;
  bottom: 0;
  margin-left: 25px;
  width: 10%;
  height: 20px;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  background: black;
  padding: 0.5rem 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  background-color: #460a0a;
  margin: 0.8rem 0.8rem;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.movie img {
  max-width: 100%;
  border: 1px transparent;
  overflow: hidden;
}
.movieInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  padding: 0.5rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  overflow: hidden;
}
.movieInfo h2 {
  margin: 0;
}
.movieRating {
  border-radius: 3px;
  background-color: gold;
  padding: 3px 8px;
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  display: flex;
  position: absolute;
  top: 1%;
  left: 83%;
}
.movie:hover {
  transform: scaleX(1.1);
}

/* Overview */
.movie_overview {
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:0.2;
  padding: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  background-color: white;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-variant: normal;
  font-size: small;
  background-color: rgb(243, 235, 222);
  transition: 1s;
  overflow: hidden;
}

.mainContainer :hover .movie_overview {
  transform: translateY(0%);
}

/* Sign up page */
.SignupInfo{
  display: flex;
  background-image: url("D:\Web design course\movie-app\src\images\abdulla-faiz-eZA7lStPshc-unsplash.jpg");
  background-position: cover;
  height: 100vh;
}

/* form info */
.myInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.363);
  border-radius: 35px;
  width: 32%;
  margin: 3em auto;
  padding: 1em 2em 4em 2em;
  top: 5rem;  

}
.myInfo input {
  display: flex;
  width: 30%;
  height: 30px;
  border: 2px solid wheat;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgb(238, 224, 199);
  padding: 1rem 4rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.Register{
  padding: 15px 20px;
  background-color: rgb(238, 224, 199);
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: larger;
  font-style: italic;
  text-decoration: none;
  position: relative;
  top:1rem;
  
}
.Register:hover {
  background-color: orange;
  transition: 0.5s;
}
label {
  padding: 8px 10px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; 
  font-style: italic;
  color:rgb(238, 224, 199);
}

/* Go to login page */
.LoginHere{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(238, 224, 199);
  position: relative;
  top:35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
  
}

.logLink {
  padding: 1rem 1rem;
  margin: 5px;
  position: relative;
  top:5px;
  border-radius: 60px;
  background-color:rgb(238, 224, 199); 
  color: black;
  list-style: none;
  text-decoration: none;
}
.logLink:hover{
  background-color: orange;
  transition: 0.5s;
}

/* login page */
.LoginInfo{
  display: flex;
  background-image: url("D:\Web design course\movie-app\src\images\dUyCkp.jpg");
  background-position: cover;
  height: 100vh;
}
/* form info */
.LogInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.363);
  border-radius: 35px;
  width: 28%;
  margin: 5em auto;
  padding: 2em 2em 3em 2em;
  top: 5rem;  
}
.LogInfo input {
  display: flex;
  width: 30%;
  height: 30px;
  border: 2px solid wheat;
  border-radius: 40px;
  cursor: pointer;
  background-color: rgb(238, 224, 199);
  padding: 1rem 4rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;

}
.Log{
  padding: 15px 20px;
  background-color: rgb(238, 224, 199);
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: larger;
  font-style: italic;
  text-decoration: none;
  position: relative;
  top:1rem;
}
.Log:hover{
  background-color: orange;
  transition: 0.5s;
}

/* Go to signup page */
.SignHere{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(238, 224, 199);
  position: relative;
  top:40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
}

.SignLink {
   padding: 1rem 0.1rem;
   margin: 5px;
   position: relative;
   top:5px;
   border-radius: 60px;
   background-color:rgb(238, 224, 199); 
   color: black;
   list-style: none;
   text-decoration: none;
}
.SignLink:hover{
  background-color: orange;
  transition: 0.5s;
}
.HomePage{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: 50px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;

}
.SignAndLog {
  position: relative;
  top: 0;
  left: 0.5rem;
  color: white;
  text-decoration: none;
  list-style: none;

}
